* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	max-width: 600px;
	margin: 1rem auto;
	padding: 1rem 0;
	text-align: center;
	border: 5px solid royalblue;
	border-radius: 12px;
}

button {
	border: none;
	padding: 0.8rem 1.5rem;
	background-color: royalblue;
	color: #fff;
	margin: 1rem;
	cursor: pointer;
	transition: 0.3s background-color ease-out;
}

button:hover {
	background-color: blue;
}

.todolist {
	display: flex;
	flex-basis: auto;
	flex-wrap: wrap;
}

.todo {
	border: 2px solid royalblue;
	margin: 0.5rem;
	padding: 0.8rem;
	text-transform: capitalize;
}

input {
	width: 100%;
	max-width: 300px;
	margin: 1rem;
	padding: 1rem;
	border: 3px solid royalblue;
	text-align: center;
	font-size: 18px;
	border-radius: 15px;
	outline: none;
}
